[submodule "Transformers-for-Natural-Language-Processing"]
	path = ref/Transformers-for-Natural-Language-Processing
	url = https://github.com/PacktPublishing/Transformers-for-Natural-Language-Processing.git
